<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="admin/fragments/header :: header" />
<link rel="stylesheet" type="text/css"
	href="/resources/css/bootstrap-table.min.css"
	th:href="@{/resources/css/bootstrap-table.min.css}" />
<style>
.btn-secondary{

background-color:#FFF;
border:none;
color:#000;
}
.btn-secondary:hover{

background-color:#FFF;
border:none;
color:#000;
}
.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
</style>
<body class="app sidebar-mini rtl">
	<header th:replace="admin/fragments/nav :: head" />
	<aside th:replace="admin/fragments/menu :: aside" />
	<!-- 主内容开始 -->
	<main class="app-content">
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-th-list"></i>接口日志
			</h1>
			<p>接口调用日志</p>
		</div>
		<ul class="app-breadcrumb breadcrumb side">
			<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
			<li class="breadcrumb-item">接口日志</li>
			<li class="breadcrumb-item active"><a href="#">日志查询</a></li>
		</ul>
	</div>
	<!-- 搜索框-->
	<div class="tile text-center">
		<div class="row">
			<div class="col-sm-1 col-lg-2"></div>
			<div class="col-sm-10 form-inline col-lg-8">
			<div class="col-sm-12">
			
			          <input type="text" class="form-control" placeholder="开始时间"
							onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
							name="starttime" id="starttime" />----<input type="text"
							class="form-control"  placeholder="结束时间"
							onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
							name="endtime" id="endtime" /> 							
							 <input type="text"
							class="form-control input-lg" id="number" name="number"
							placeholder="请输入号码" /> 
							
							 <button class="btn btn-primary" id="searchlog">
				<i class="fa fa-search" aria-hidden="true"></i>查询
			   </button>
		</div>
		</div>
			</div>
			<div class="col-sm-1 col-lg-2"></div>
			
		</div>
	</div>
	<!-- 展示内容-->
	<div class="tile mb-4">
		<table id="table" style="table-layout: fixed"></table>
	</div>
	</div>
	</main>

	<!-- 主内容结束 -->

	<footer th:replace="admin/fragments/footer :: footer" />
	<script type="text/javascript"
		src="resources/framework/jquery.validate.min.js"
		th:src="@{resources/framework/jquery.validate.min.js}"></script>
	<script src="/resources/js/knowledge.js"
		th:src="@{/resources/framework/bootstrap-table.min.js}"></script>
	<script src="/resources/js/knowledge.js"
		th:src="@{/resources/framework/bootstrap-table-zh-CN.min.js}"></script>
	<script src="/resources/js/knowledge.js"
		th:src="@{/resources/framework/date/WdatePicker.js}"></script>
	<script src="/resources/js/knowledge.js"
		th:src="@{/resources/framework/layer/layer.js}"></script>
	<script src="/resources/js/knowledge.js"
		th:src="@{/resources/framework/preetify.js}"></script>

   <script src="/resources/js/interfacelog.js"
		th:src="@{/resources/js/interfacelog/interfacelog.js}"></script>
</body>
</html>
