<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitea.dao.InterfaceDao">
	<resultMap id="BaseResultMap" type="com.vitea.domain.InterFace">

		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="sysid" jdbcType="INTEGER" property="sysid" />
		<result column="timeout" jdbcType="INTEGER" property="timeout" />
		<result column="input" jdbcType="VARCHAR" property="input" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="stat" jdbcType="INTEGER" property="stat" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="port" jdbcType="VARCHAR" property="port" />
		<result column="method" jdbcType="VARCHAR" property="method" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="description" jdbcType="VARCHAR" property="description" />
	</resultMap>
<!-- 查找用户通过编号 -->
	<select id="getPortById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		id,url,method,port,description,type,name,stat,timeout,input
		from qk_interface
		where id = #{id,jdbcType=INTEGER}
	</select>
<select id="findAll" resultMap="BaseResultMap">
   select ID,SYSID,NAME,URL,PORT,METHOD,STAT,DESCRIPTION from QK_INTERFACE  order BY ID ASC
</select>	
</mapper>