<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitea.dao.IKnowledgeDao">
  <resultMap id="BaseResultMap" type="com.vitea.domain.Knowledge">
   
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="TIME" jdbcType="TIMESTAMP" property="time" />
    <result column="FILEPATH" jdbcType="VARCHAR" property="filepath" />
    <result column="HITS" jdbcType="DECIMAL" property="hits" />
    <result column="CONTENT" jdbcType="CLOB" property="content" />
    <result column="COPYFROM" jdbcType="VARCHAR" property="copyfrom" />
  </resultMap>

  <insert id="insert" parameterType="com.vitea.domain.Knowledge">
  
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Short">
      SELECT SEQ_QUICK_KNOWLEDGE.NEXTVAL AS Id FROM DUAL
    </selectKey>
    insert into QK_KNOWLEDGE (ID,TITLE, AUTHOR, TIME, 
      FILEPATH, HITS, COPYFROM, 
      CONTENT,TITLEDESC)
    values (#{id,jdbcType=DECIMAL},#{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{filepath,jdbcType=VARCHAR}, #{hits,jdbcType=DECIMAL}, #{copyfrom,jdbcType=VARCHAR}, 
      #{content,jdbcType=CLOB},#{titledesc,jdbcType=VARCHAR})
  </insert>
  <select id="getKnowledgeById" resultMap="BaseResultMap" parameterType="java.lang.Short">
  select ID, TITLE, AUTHOR, TIME, 
      FILEPATH, HITS, COPYFROM, 
      CONTENT,TITLEDESC from QK_KNOWLEDGE
      where id=#{id,jdbcType=DECIMAL}
  
  </select>
   <select id="findAllKnowledge" resultMap="BaseResultMap">
      select ID, TITLE, AUTHOR, TIME, 
      FILEPATH, HITS, COPYFROM, 
      CONTENT,TITLEDESC from QK_KNOWLEDGE order by id desc
  </select>
  <update id="hits" parameterType="java.lang.Short">
     update qk_knowledge set hits=hits+1 where id=#{id,jdbcType=DECIMAL}
  </update>

<delete id="deleteKnowledgeById" parameterType="java.lang.Short">
   delete from QK_KNOWLEDGE  where id=#{id,jdbcType=DECIMAL}
</delete>
<update id="updateKnowledgeById" parameterType="com.vitea.domain.Knowledge">
   update  QK_KNOWLEDGE
   <set>
 <if test="title != null">TITLE = #{title,jdbcType=VARCHAR},</if>
 <if test="author != null">AUTHOR = #{author,jdbcType=VARCHAR},</if>
 <if test="filepath != null">FILEPATH = #{filepath,jdbcType=VARCHAR},</if>
 <if test="copyfrom != null">COPYFROM = #{copyfrom,jdbcType=VARCHAR},</if>
 <if test="titledesc != null">TITLEDESC = #{titledesc,jdbcType=VARCHAR},</if>
 <if test="content != null">CONTENT = #{content,jdbcType=CLOB}</if>
   </set>
   where id=#{id}
</update>
<!-- mybatis查询的时候，需要用到运算符 小于号：< 和  大于号： >，
在mybatis配置文件里面，这种会被认为是标签，所以解析错误 
必须加<![CDATA[XX]]>转义
-->
<select id="findAllKnowledgeByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
select ID, TITLE, AUTHOR, TIME, 
      FILEPATH, HITS, COPYFROM, 
      CONTENT,TITLEDESC from QK_KNOWLEDGE 
      <where>
       <if test='starttime!="1"'>
        <![CDATA[ 
        and TIME>=  to_date(#{starttime}, 'yyyy/mm/dd hh24:mi:ss') 
        ]]>
        </if>
        <if test='endtime!="1"'>
        <![CDATA[
        and TIME<=  to_date(#{endtime}, 'yyyy/mm/dd hh24:mi:ss')
        
        ]]>
        </if>
          <if test='title!="1" '>
        and  TITLE like '%'||#{title}||'%'
        </if>
       </where>
       ORDER BY id desc
</select>
</mapper>