<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitea.dao.IResourceDao">
	<resultMap id="BaseResultMap"
		type="com.vitea.domain.Resource">
		<id column="RESID" jdbcType="DECIMAL" property="resid" />
		<result column="RESURL" jdbcType="VARCHAR" property="resurl" />
		<result column="RESDESC" jdbcType="VARCHAR" property="resdesc" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
		delete from QK_RESOURCE
		where RESID = #{resid,jdbcType=DECIMAL}
	</delete>

	<insert id="insert" parameterType="com.vitea.domain.Resource">
		insert into QK_RESOURCE (RESID, RESURL, RESDESC
		)
		values (#{resid,jdbcType=DECIMAL}, #{resurl,jdbcType=VARCHAR},
		#{resdesc,jdbcType=VARCHAR}
		)
	</insert>
	<select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
			select resid,resurl,resdesc from QK_RESOURCE
		    where RESID = #{resid,jdbcType=DECIMAL}
	</select>
	<update id="updateByPrimaryKey"
		parameterType="com.vitea.domain.Resource">
		update QK_RESOURCE
		set RESURL = #{resurl,jdbcType=VARCHAR},
		RESDESC = #{resdesc,jdbcType=VARCHAR}
		where RESID = #{resid,jdbcType=DECIMAL}
	</update>
</mapper>