<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="footer">
    <!-- javascript -->
    <script src="/resources/js/popper.js" th:src="@{/resources/framework/popper.js}"></script>
    <script src="/resources/js/bootstrap.min.js" th:src="@{/resources/framework/bootstrap.min.js}"></script>  
	<script src="/resources/js/main.js" th:src="@{/resources/js/main.js}"></script>  
    <script src="/resources/framework/toastr.min.js" th:src="@{/resources/framework/toastr.min.js}"></script>  
	
    
</footer>
</body>
</html>