<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>QuickApi</title>
</head>
<body>
    <!-- Sidebar menu-->
    <div th:fragment="aside"></div>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" style="width:30px;height:30px;" th:src="@{/resources/images/head.jpg}" alt="User Image"/>
        <div> 
          <p class="app-sidebar__user-name"><span sec:authentication="name"></span> </p>
          <p class="app-sidebar__user-designation">系统管理员</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item active" href="admin.do"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">仪表盘</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">系统管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="bootstrap-components.html"><i class="icon fa fa-circle-o"></i>邮件设置</a></li>
            <li><a class="treeview-item" href="#" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i>短信设置</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i>数据缓存</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> 系统信息</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">统计信息</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">用户管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="getUserList.do"><i class="icon fa fa-circle-o"></i>用户查询</a></li>
            <li><a class="treeview-item" href="setUserRole.do"><i class="icon fa fa-circle-o"></i>权限添加</a></li>
            <li><a class="treeview-item" href="addUser.do"><i class="icon fa fa-circle-o"></i>增加用户</a></li>

          </ul>
        </li>
         <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-arrows-alt"></i><span class="app-menu__label">接口管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="getInterfaceList.do"><i class="icon fa fa-circle-o"></i> 接口查询</a></li>
            <li><a class="treeview-item" href="addInterface.do"><i class="icon fa fa-circle-o"></i>增加接口</a></li>

          </ul>
        </li>
        
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">测试用例</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i>http测试</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i>socket测试</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-bell"></i><span class="app-menu__label">告警设置</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i>微信告警</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i>短信告警</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i>邮件告警</a></li>
           
          </ul>
        </li>
         <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">知识库设置</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="getKnowledgeList.do"><i class="icon fa fa-circle-o"></i>知识库查询</a></li>
            <li><a class="treeview-item" href="addKnowledge.do"><i class="icon fa fa-circle-o"></i>知识库增加</a></li>
           
          </ul>
        </li>
         <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">日志管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="getInterfaceLog.do"><i class="icon fa fa-circle-o"></i>日志查询</a></li>           
          </ul>
        </li>
      </ul>
    </aside>
</body>

</html>
