<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitea.dao.IPortDao">
	<resultMap id="BaseResultMap" type="com.vitea.domain.InterFace">

		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="requestport" jdbcType="VARCHAR" property="requestport" />
		<result column="method" jdbcType="VARCHAR" property="method" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="description" jdbcType="VARCHAR" property="description" />
	</resultMap>
<!-- 查找用户通过编号 -->
	<select id="getPortById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		id,url,method,requestport,description,type
		from interface
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
</mapper>