<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head th:replace="admin/fragments/header :: header"/>
<body class="app sidebar-mini rtl">
<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> quickapi</h1>
          <p>系统接口调用信息和服务器信息
           <span sec:authorize="isAuthenticated()">
                Logged user: <span sec:authentication="principal.username"></span> |
            </span>
          </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">仪表盘</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>注册app</h4>
              <p><b>5</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>接口</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-check-circle fa-3x"></i>
            <div class="info">
              <h4>调用成功</h4>
              <p><b>10000</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>调用失败</h4>
              <p><b>500</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">本周调用量</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="lineChart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">实时调用量</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="currentChart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">内存信息</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="memoryChart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">系统更新通知</h3>
            <p>本月系统未更新.</p>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">服务器信息</h3>
            <ul>
              <li>本月上线后台管理和用户管理</li>
              <li>上线用户信息认证</li>
              <li>本月上线后台管理和用户管理</li>
              <li>上线用户信息认证</li>
              <li>本月上线后台管理和用户管理</li>
              <li>上线用户信息认证</li>
            </ul>
          </div> 
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">系统更新通知</h3>
            <p>本月系统未更新.</p>
            </div>
        </div>
      </div>
    </main>

<!-- 主内容结束 -->
<script src="./resources/framework/echarts.min.js" th:src="@{./resources/framework/echarts.min.js}"></script>
<script src="./resources/framework/timeline.js" th:src="@{./resources/framework/timeline.js}"></script>

<footer th:replace="admin/fragments/footer :: footer"/>
<script src="./resources/framework/echarts.simple.min.js" th:src="@{./resources/js/admin.js}"></script>
</body>
</html>
