<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
<head th:replace="admin/fragments/header :: header"/>
<body class="app sidebar-mini rtl">
<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> quickapi</h1>
          <p>系统接口调用信息和服务器信息 </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">仪表盘</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>注册app</h4>
              <p><b>5</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>接口</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-check-circle fa-3x"></i>
            <div class="info">
              <h4>调用成功</h4>
              <p><b>10000</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>调用失败</h4>
              <p><b>500</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">本周调用量</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="lineChart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">实时调用量</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="currentChart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tile">
            <h3 class="tile-title">CPU信息</h3>
            <div class="embed-responsive embed-responsive-4by3">
              <div class="embed-responsive-item" id="cpuChart"></div>
              
            </div>
           
          </div>
        </div>
       <div class="col-md-4">
          <div class="tile">
            <h3 class="tile-title">内存信息</h3>
            <div class="embed-responsive embed-responsive-4by3">
              <div class="embed-responsive-item" id="memoryChart"></div>
              
            </div>
           
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="tile">
            <h3 class="tile-title">磁盘信息</h3>
            <div class="embed-responsive embed-responsive-4by3">
              <div class="embed-responsive-item" id="diskChart"></div>
              
            </div>
           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">服务器信息</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>信息</th>
                  <th>详情</th>
                   <th>详情</th>
                    <th>详情</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-info">
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                   <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-success">
                  <td>服务器操作系统 </td>
                  <td>Jacob</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-danger">
                  <td>服务器操作系统 </td>
                  <td>Larry</td>
                 <td>服务器操作系统 </td>
                  <td>Larry</td>
                </tr>
                <tr class="table-warning">
                  <td>服务器操作系统 </td>
                  <td>Jacob</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td> 
                </tr>
                 <tr class="table-info">
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                   <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-success">
                  <td>服务器操作系统 </td>
                  <td>Jacob</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-danger">
                  <td>服务器操作系统 </td>
                  <td>Larry</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-warning">
                  <td>服务器操作系统 </td>
                  <td>Jacob</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                 <tr class="table-info">
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                   <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-success">
                  <td>服务器操作系统 </td>
                  <td>Jacob</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-danger">
                  <td>服务器操作系统 </td>
                  <td>Larry</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
                <tr class="table-warning">
                  <td>服务器操作系统 </td>
                  <td>Jacob</td>
                  <td>服务器计算机名</td>
                  <td>CSSS</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </main>

<!-- 主内容结束 -->
<script src="./resources/framework/echarts.min.js" th:src="@{./resources/framework/echarts-all.js}"></script>
<footer th:replace="admin/fragments/footer :: footer"/>
<script src="./resources/framework/echarts.simple.min.js" th:src="@{./resources/js/admin.js}"></script>
</body>
</html>
