<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
<head th:replace="admin/fragments/header :: header"/>
<body class="app sidebar-mini rtl">
<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> quickapi</h1>
          <p>系统接口调用信息和服务器信息 </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">仪表盘</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>注册app</h4>
              <p><b>5</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>接口</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-check-circle fa-3x"></i>
            <div class="info">
              <h4>调用成功</h4>
              <p><b>10000</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>调用失败</h4>
              <p><b>500</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">本周调用量</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="lineChart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">实时调用量</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="currentChart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">内存信息</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="cpuChart"></div>
              
            </div>
           
          </div>
        </div>
       <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">CPU信息</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item" id="memoryChart"></div>
              
            </div>
           
          </div>
        </div>
      
      </div>
      
      <div class="row">
       <div class="col-md-6">
          <div class="tile">
            <div class="embed-responsive embed-responsive-21by9">
              <div style="padding:-30px;" class="embed-responsive-item" id="cpudetail"></div>
              
            </div>
           
          </div>
        </div>
         <div class="col-md-6">
          <div class="tile">
            <div class="embed-responsive embed-responsive-21by9">
              <div class="embed-responsive-item" id="memorydetail"></div>
              
            </div>
           
          </div>
        </div>
      </div>
      <!-- 网络信息开始 -->
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">网络信息</h3>
             <div class="embed-responsive embed-responsive-21by9">
              <div class="embed-responsive-item" id="currentNetChart"></div>
            </div>
           </div>
           </div>
      </div>
     <!-- 网络信息结束 -->
      <!-- 服务器信息开始 -->
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">服务器信息</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>详情</th>
                   <th>名称</th>
                    <th>详情</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-info">
                  <td>用户名</td>
                  <td th:text="${hostInfo.hostname}">CSSS</td>
                   <td>计算机名</td>
                  <td th:text="${hostInfo.computerName}">CSSS</td>
                </tr>
                <tr class="table-success">
                  <td>计算机域名</td>
                  <td th:text="${hostInfo.hostname}">Jacob</td>
                  <td>JVM总内存(M)</td>
                  <td th:text="${hostInfo.totalMemory}">CSSS</td>
                </tr>
                <tr class="table-danger">
                  <td>JVM可用内存 (M)</td>
                  <td th:text="${hostInfo.freeMemory}">Larry</td>
                 <td>JVM处理器(个) </td>
                  <td th:text="${hostInfo.availableProcessors}">Larry</td>
                </tr>
                <tr class="table-warning">
                  <td>JVM虚拟机版本 </td>
                  <td th:text="${hostInfo.javaversion}">Jacob</td>
                  <td>JVM虚拟机供应商</td>
                  <td th:text="${hostInfo.javavendor}">CSSS</td> 
                </tr>
                 <tr class="table-info">
                  <td>Java的安装路径</td>
                  <td th:text="${hostInfo.javahome}">CSSS</td>
                   <td>Java的类格式版本号</td>
                  <td th:text="${hostInfo.javaclassversion}">CSSS</td>
                </tr>
                <tr class="table-success">
                  <td>操作系统的构架 </td>
                  <td th:text="${hostInfo.osarch}">Jacob</td>
                  <td>操作系统的版本</td>
                  <td th:text="${hostInfo.osversion}">CSSS</td>
                </tr>
                <tr class="table-danger">
                  <td>操作系统名称 </td>
                  <td th:text="${hostInfo.osname}">Larry</td>
                  <td>JVM名称</td>
                  <td th:text="${hostInfo.jvmname}">CSSS</td>
                </tr>
               
       
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- 服务器信息开结束-->
    </main>

<!-- 主内容结束 -->
<script src="./resources/framework/echarts.min.js" th:src="@{./resources/framework/echarts-all.js}"></script>
<footer th:replace="admin/fragments/footer :: footer"/>
<script src="./resources/framework/echarts.simple.min.js" th:src="@{./resources/js/admin.js}"></script>
</body>
</html>
