<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>后台管理登录</title>
<link rel="shortcut icon" href="resources/images/icon.ico">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="resources/css/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="resources/framework/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
body{font-family: "华文细黑";background:url("resources/images/1.jpg") no-repeat;background-size: 100%;background-attachment:fixed;}
</style>
<body>
<div class="container">
	<div class="row" style="margin-top:10rem">
		<div class="col-lg-2"></div>
		<div class="login col-lg-8">
			<div class="login_logo">
				<a href="#"><img src="resources/images/logo.png" class="img-responsive center-block" /></a>
			</div>
			<div class="login_name">
				<p>QuickApi管理系统</p>
			</div>
			<div style="position:fixed;margin-top:60px;">
				<span class="error"  th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
			</div>
			<form method="post" id="login" th:action="@{/login}">			
				<div class=" col-sm-12">
					<input id="username" name="username" type="text" placeholder="用户名" />
				</div>
				<div class=" col-sm-12">
					<input id="password" name="password" type="password"
						placeholder="密码" />
				</div>
				<div class="checkbox">
					<div class="form-group">
						<div class=" col-sm-6">
							<div class="checkbox">
								<label> <input type="checkbox" name="remember-me">请记住我
								</label>
							</div>
						</div>
						<div class=" col-sm-6">
							<div class="checkbox">
								<label> <a href="#" style="margin-left: 50px">忘记密码?</a>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-sm-12">
					<input value="登录" style="width: 100%;" type="submit" />
				</div>
			</form>
		</div>
		<div class="col-lg-2"></div>
		
	</div>
</div>
	<div class="copyright">CopyRight © 2016-2018 jijiuxue All rightsReserved quickapi v1.0</div>
	<script type="text/javascript" src="resources/framework/jquery.validate.min.js"></script>
	<script type="text/javascript" src="resources/js/login.js"></script>
</body>
</html>
