<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
<head th:replace="admin/fragments/header :: header"/>
<body class="app sidebar-mini rtl">
<link rel="stylesheet" type="text/css"
	href="/resources/css/bootstrap-table.min.css"
	th:href="@{/resources/css/bootstrap-table.min.css}" />

<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
     <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> 接口数据</h1>
          <p>显示接口表相关信息和操作</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">接口管理</li>
          <li class="breadcrumb-item active"><a href="#">接口查询</a></li>
        </ul>
      </div>
            	<!-- 搜索框-->
	<div class="tile text-center">
		<div class="row">
			<div class="col-sm-1 col-lg-2"></div>
			<div class="col-sm-10 form-inline col-lg-8">
			<div class="col-sm-12">
			       
			       
			        
			        编号:<input type="text"
							class="form-control input-lg" id="queryid" name="queryid"
							placeholder="请输入接口编号 "/>
			       
					 &nbsp;&nbsp;
					方法:<select type="text"
							class="form-control input-lg" id="querymethod" name="querymethod"
							placeholder="请输入接口方法"> 
			        <option value="">-------请选择方法-------</option>	
					<option value="http2form">http2form</option>		
					<option value="http2json">http2json</option>
					<option value="socket">socket</option>
					</select>   &nbsp;&nbsp;   						
					名称:<input type="text"
							class="form-control input-lg" id="queryname" name="queryname"
							placeholder="请输入接口名称" /> 
							
							 <button class="btn btn-primary" id="searchInterfaceByParam">
				<i class="fa fa-search" aria-hidden="true"></i>查询
			   </button>&nbsp;&nbsp;
			    <button class="btn btn-primary" id="resetInterface">
				重置
			   </button>&nbsp;&nbsp;
			   <button class="btn btn-primary" id="addInterface">
				增加
			   </button>
		</div>
		</div>
			</div>
			<div class="col-sm-1 col-lg-2"></div>
			
		</div>
      <div class="row" >
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
               <table id="interfacetable">
            </div>
          </div>
        </div>
      </div>
    </main>

<!-- 主内容结束 -->
<script src="resources/framework/jquery.validate.min.js" th:src="@{/resources/framework/jquery.validate.min.js}"></script>
<footer th:replace="admin/fragments/footer :: footer"/>
<script src="/resources/js/knowledge.js" th:src="@{/resources/framework/bootstrap-table.min.js}"></script>
<script src="/resources/js/knowledge.js" th:src="@{/resources/framework/bootstrap-table-zh-CN.min.js}"></script>
<script src="/resources/js/knowledge.js" th:src="@{/resources/framework/layer/layer.js}"></script>
<script src="/resources/js/interface.js" th:src="@{/resources/js/interface/interface.js}"></script>

</body>
</html>
