<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
<head th:replace="admin/fragments/header :: header"/>
<body class="app sidebar-mini rtl">
<link rel="stylesheet" type="text/css"
	href="/resources/css/bootstrap-table.min.css"
	th:href="@{/resources/css/bootstrap-table.min.css}" />
<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
     <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> 用户信息</h1>
          <p>显示用户相关信息和操作</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">用户管理</li>
          <li class="breadcrumb-item active"><a href="#">用户查询</a></li>
        </ul>
      </div>
                 	<!-- 搜索框-->
	<div class="tile text-center">
		<div class="row">
			<div class="col-sm-1 col-lg-2"></div>
			<div class="col-sm-10 form-inline col-lg-8">
			<div class="col-sm-12">
			       
			       
			        
			        登录名:<input type="text"
							class="form-control input-lg" id="username" name="username"
							placeholder="请输入登录名 "/>
			       
					 &nbsp;&nbsp;
											
					用户名:<input type="text"
							class="form-control input-lg" id="realname" name="realname"
							placeholder="请输入用户名" /> 
							
							 <button class="btn btn-primary" id="searchUserByParam">
				<i class="fa fa-search" aria-hidden="true"></i>查询
			   </button>&nbsp;&nbsp;
			    <button class="btn btn-primary" id="resetUser">
				重置
			   </button>&nbsp;&nbsp;
			   <button class="btn btn-primary" id="addUser">
				增加
			   </button>
		</div>
		</div>
			</div>
			<div class="col-sm-1 col-lg-2"></div>
			
		</div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
            <table id="table"></div>  
              
            </div>
          </div>
        </div>
      </div>
    </main>

<!-- 主内容结束 -->
<footer th:replace="admin/fragments/footer :: footer"/>
<script src="/resources/js/knowledge.js" th:src="@{/resources/framework/bootstrap-table.min.js}"></script>
<script src="/resources/js/knowledge.js" th:src="@{/resources/framework/bootstrap-table-zh-CN.min.js}"></script>
<script src="/resources/js/knowledge.js" th:src="@{/resources/framework/layer/layer.js}"></script>
<script src="/resources/js/userinfo/userinfo.js" th:src="@{/resources/js/userinfo/userinfo.js}"></script>

</body>
</html>
