<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
<head th:replace="admin/fragments/header :: header"/>
<body class="app sidebar-mini rtl">
<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
     <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> 用户信息</h1>
          <p>显示用户相关信息和操作</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">用户管理</li>
          <li class="breadcrumb-item active"><a href="#">用户查询</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered text-center" id="sampleTable">
                <thead>
                  <tr>
                    <th>用户名</th>
                     <th>用户密码</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>状态</th>
                    <th>是否被锁</th>
                    <th>个人链接</th>
                    <th>注册时间</th>           
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>      
                	<tr th:each="user : ${pagelist.list}">
					<td th:text="${user.username}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${user.enabled}"></td>
					<td th:text="${user.islocked}"></td>
					<td th:text="${user.url}"></td>
					<td th:text="${user.register}"></td>
					<td>
					  <a href="#"><i class="fa fa-pencil fa-fw"></i> 编辑</a> &nbsp;&nbsp;
                   <a href="#"><i class="fa fa-trash-o fa-fw"></i> 删除</a> &nbsp;&nbsp;
                   <a href="#" title="接口在用"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>
                   <a href="#" title="接口在用"><i class="fa fa-toggle-on" aria-hidden="true"></i></a>
                  
					</td>
				</tr>
                </tbody>
               
              </table>  
               <nav  th:replace="admin/fragments/page :: page"/>
            </div>
          </div>
        </div>
      </div>
    </main>

<!-- 主内容结束 -->
<footer th:replace="admin/fragments/footer :: footer"/>
</body>
</html>
