<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
<head th:replace="admin/fragments/header :: header"/>
<link rel="stylesheet" type="text/css" href="./resources/css/toastr.min.css" th:href="@{/resources/css/editormd.min.css}"/>
<script src="/resources/js/popper.js" th:src="@{/resources/framework/editormd.min.js}"></script>

<body class="app sidebar-mini rtl">
<header th:replace="admin/fragments/nav :: head"/>
<aside th:replace="admin/fragments/menu :: aside"/>
<!-- 主内容开始 -->
    <main class="app-content">
     <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>知识库</h1>
          <p>知识库数据增加</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">知识库管理</li>
          <li class="breadcrumb-item active"><a href="#">增加知识库</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
            <form role="form" id="addknowledge">
            <div class="form-group">
                 标题:<input name="title" id="title" class="form-control form-control-lg" /> 
                 来源:<input name="copyfrom" id="copyfrom" class="form-control form-control-lg" />
                 简介:<input name="titledesc" id="titledesc" class="form-control form-control-lg" /> 
            </div>
                 
                  <div class="editormd" id="editormd">
                  <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
                  <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                  <textarea class="editormd-html-textarea" name="text" id="text"></textarea>
                  </div>                  
                 
                <button type="button" onclick="addKnowledge()" class="btn btn-primary">发布文章</button>            
              </form>                       
            </div>
          </div>
        </div>
      </div>
    </main>

<!-- 主内容结束 -->
<script type="text/javascript" src="resources/framework/jquery.validate.min.js"></script>
<script src="/resources/js/knowledge.js" th:src="@{/resources/js/knowledge/addknowledge.js}"></script>
<footer th:replace="admin/fragments/footer :: footer"/>

</body>
</html>
